@font-face {
    font-family: "Hot Chili";
    src: url(../HotChili.ttf);
}

.attack {
    display: inline-flex;
    box-sizing: content-box;
    align-items: center;
    width: 12em;
    height: 3em;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid rgba(173,32,3,0.55);
    border-radius: 10px;
    font-family: "Hot Chili", sans-serif;
    font-size: 0.7em;
    word-spacing: 0.3em;
    color: rgba(255,255,255,0.9);
    background: -webkit-linear-gradient(-90deg, #c96652 0, #c96652 1%, #c42505 41%, #c42505 60%, #c96652 100%);
    background: linear-gradient(180deg, #c96652 0, #c96652 1%, #c42505 41%, #c42505 60%, #c96652 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: auto auto;
}

.spriteUp{
    height: 32px;
    width: 32px;
    background-image: url("../images/catsUp.png");
    display: inline-block;
    margin: 0 !important;
}

.spriteDown{
    height: 34px;
    width: 32px;
    background-image: url("../images/catsDown.png");
    display: inline-block;
    margin: 0 !important;
}
.spriteRight{
    height: 20px;
    width: 25px;
    background-image: url("../images/catsRight.png");
    display: inline-block;
    margin: 0 !important;
}
.spriteLeft{
    height: 27px;
    width: 32px;
    background-image: url("../images/catsLeft.png");
    display: inline-block;
    margin: 0 !important;
}
.spriteSleep{
    height: 22px;
    width: 13px;
    background-image: url("../images/catsLay.png");
    display: inline-block;
    margin: 0 !important;
}

.cat{
    position: absolute;
}